#goals_title {font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin: 80px;}

section {
    margin: 0 auto;
}


article {
    width: 200px; 
    height: 300px; 
    margin-left: 40px;
    margin-right: 40px; 
    border: solid 3px #ff6f00;
    float: left;

    text-align: center;
}

article h2 {
    background-color: #ff6f00;
    color: aliceblue;
    text-align: center;
    height: 40px;
}

article p {margin-top: 90px;
    margin-left: 20px;
    margin-right: 20px;
font-size: 17px;}